.container {
    max-width: 1400px;
    margin: 0 auto;
    
}
.title {
    margin-top: 70px;
    text-align: center;
    font-size: 30px;
}



.user__btn {
    margin-top: 5px;
}

.enter__wrap {
    margin: 0 auto;
    max-width: 600px;
    border: solid 1px black;
    padding: 20px;
}
.enter__block {
    margin-top: 20px;
}
.enter__btn {
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 5px 10px;
}
.start {
    display: none;
}
.start__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 310px;
    cursor: pointer;
    margin-top: 80px;
}
.block {
    width: 100px;
    height: 5px;
    background-color: aqua;
}
.block_vertical {
    transform: rotate(90deg) translateX(-3px);
    transition: all .5s;
}
.block_horizontal {
    transition: all .5s;
}
.block_horizontal_action {
    transform: rotate(45deg) translateX(3px);
}
.block_vertical_action {
    transform: rotate(-45deg) translateX(3px);
}
.start__supply {
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    width: 250px;
}
.fill {
    width: 1200px;
    margin: 0 auto;
    margin-top: 80px;
    border: solid 1px black;
    transition: all .5s;
    opacity: 0;
    display: none;
}
.fill_action {
    opacity: 1;
}
.fill_addblock {
    display: block;
}
.fill__header, .fill__body-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: -5px -5px 5px -5px;
    
}
.fill__header-number, .fill__body-number {
    width: 5%;
    text-align: center;
    border: solid 1px black;
    font-size: 24px;
    height: 50px;
    display: flex;
    align-items:center;
    justify-content:center
}
.fill__header-descr, .fill__body-descr {
    width: 50%;
    text-align: center;
    border: solid 1px black;
    font-size: 24px;
    height: 50px;
    display: flex;
    align-items:center;
    justify-content:center;
}
.fill__header-count, .fill__body-count {
    width: 5%;
    text-align: center;
    border: solid 1px black;
    font-size: 24px;
    height: 50px;
    display: flex;
    align-items:center;
    justify-content:center
}
.fill__header-department, .fill__header-object, .fill__body-department, .fill__body-object {
    width: 20%;
    text-align: center;
    border: solid 1px black;
    font-size: 24px;
    height: 50px;
    display: flex;
    align-items:center;
    justify-content:center
}
input {
    height: 30px;
    width: 95%;
    text-align: center;
    font-size: 16px;
}
.fill__count-input {
    width: 80%;
}
.apply, .add {
    display: block;
    margin-top: 20px;
    width: 200px;
    height: 40px;
    font-size: 18px;
    margin-left: 20px;
}
.apply {
    margin: 0 auto;
    margin-bottom: 20px;
}
.agreement {
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    width: 1200px;
    display: none;
    margin:0 auto;
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 40px;
}
.agreement__wrap {
    width: 1100px;
    margin: 0 auto;
    margin-bottom: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.agreement__header {
    display: flex;
    justify-content: space-between;
}
.agreement__header-number, .agreement__body-number {
    width: 5%;
    text-align: center;
    border: solid 1px black;
    font-size: 24px;
}
.agreement__header-descr, .agreement__body-descr {
    width: 50%;
    text-align: center;
    border: solid 1px black;
    font-size: 24px;
}
.agreement__header-count, .agreement__body-count {
    width: 5%;
    text-align: center;
    border: solid 1px black;
    font-size: 24px;
}
.agreement__header-department, .agreement__body-department {
    width: 20%;
    text-align: center;
    border: solid 1px black;
    font-size: 24px;
}
.agreement__header-object, .agreement__body-object {
    width: 20%;
    text-align: center;
    border: solid 1px black;
    font-size: 24px;
}
.agreement__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.agreement__body-number, .agreement__body-count, .agreement__body-descr, .agreement__body-department, .agreement__body-object, .agreement__body-note {
    height: 260px;
}
.agreement__confirmation {
    display: flex;
    justify-content: space-between;
}
.agreement__confirmation-aligner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    border: solid 1px black;
    width: 65%;
}
.agreement__confirmation-approver {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 1px black;
    width: 35%;
}
.agreement__aligner-name, .agreement__approver-name {
    font-size: 18px;
    margin-bottom: 10px;
}
.agreement__date {
    display: flex;
    justify-content: space-around;
}
.agreement__date-block {
    display: flex;
    justify-content: space-around;
    border: solid 1px black;
    width: 35%;
}
.agreement__date-block:first-child {
    width: 65%;
}
.agreement__date-name, .agreement__date-value {
    font-size: 18px;
}
.align__btn, .approve__btn {
    display: none;
}
.align__btn_active, .approve__btn_active {
    display: block;
}
.work {
    width: 1200px;
    margin: 0 auto;
    display: none;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    padding-top: 20px;
    padding-bottom: 20px;
}
.wrap__work {
    width: 1100px;
    margin: 0 auto;
    margin-bottom: 60px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
}
.agreement__aligner-input {
    display: none;
}
.agreement__approver-input {
    display: none;
}
.agreement__close-work {
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.agreement__close-btn {
    display: block;
    width: 600px;
    height: 50px;
    margin: 10 auto;
}
.app__number {
    margin-top: 40px;
    font-size: 1px;
}

.list-reset {
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: inherit;
}

.header {
    padding: 0px 50px;
    min-width: 100%;
    top: 0;
    position: fixed;
    background-color: #42686f;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 9999;
}
.nav {
    display: none;
}
.nav__list {
    font-size: 18px;
    display: flex;
}

.nav__link {
    color: #fff;
}


.nav__item:not(:last-child) {
    margin-right: 40px;
}

.user__name {
    font-size: 18px;
    color:#fff;
}

.user__btn {
    padding: 0;
    cursor: pointer;
    background: none;
    border: none;
    color:#fff;
}

.user__block {
    display: none;
}

.top-title {
    margin-top: 200px;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    position: relative;
    margin: 0;
}

.container {
    padding: 25px 50px;
}
.closeapp {
    width: 1200px;
    margin: 0 auto;
    display: none;
}



 